:root{
    --max-width: 1312px;
    --change-width-footer: 1040px;
    --change-width-servicio-especial: 1380px;
    --max-width-movil: 700px;

    --color-amarillo: #ffcd00;
    --color-azul: #002e6d;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Cartero, 'Helvetiva Neue', Helvetica, Arial, 'Sans Serif';
    background-color: white;
    
}




/* ---------------- |HEADER| ---------------- */
.header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    width: var(--max-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 100%;
}

/* parte 1 del header */
.menu-seccion1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.boton-menu{
    padding-left: 0px;
    height: 100%;
    border-style: none;
    background-color: transparent;
}
.boton-menu > svg{
    height: 60%;
    border-left: 1px solid lightgray;
    padding-left: 20px;
    width: 50px;
    height: 50px; 
}

.menu-seccion1-opciones{
    margin-left: 40px;
}

.menu-enlaces{
    text-decoration: none;
    padding-bottom: 10px;
    color:  var(--color-azul);
}

.menu-actual{
    font-weight: bold;
    border-bottom: 1px solid #002e6d;
}


/* parte 2 del header - BUSCADOR  */
.contenedor-buscador{
    height: 55px;
    width: 400px;
    border-radius: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid rgb(148 148 148);
    border-bottom-color: var(--color-amarillo);
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.contenedor-buscador > svg{
    margin: auto;
    margin-right: 10px;
}
.buscador{
    width: 100%;
    height: 25px;
    margin: 0px 10px 10px 10px;
    background-color: transparent;   
    border: none;
    background: none;
    outline: none;
}

/* parte 2 del header - LOGIN */
.contenedor-iniciar-sesion{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contenedor-iniciar-sesion :nth-child(1) svg{
    width: 20px;
}
.contenedor-iniciar-sesion :nth-child(2){
    margin-left: 16px;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-azul);
}

.separacion{
    padding: 40px 0px;
}


/* ---------------- |MAIN| ---------------- */
.bienvenida{
    display: flex;
    flex-direction: row;
    margin:auto;
    border-style: solid;
    position: relative;
}


/* lado 1 */
.contenedor-imagen-banner{
    background-image: url('/img/reenvio_postal_1440x960.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
    width: 50%;
}
.barras-decorativas-banner{
    position: absolute;
    right: 200px;
    top: 90px;
}
.triangulos-decorativos-banner{
    position: absolute;
    right: 10px;
    bottom: -55px;
}


/* lado 2 */
.bienvenida > :nth-child(2){
    width: 50%;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 56px 130px;
}

.contenedor-bienvenida{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contenedor-bienvenida h1{
    font-size: 14px;
    margin-bottom: 8px;
}
#slogan{
    font-size: 32px;
    margin-bottom: 8px;
    line-height: 40px;
    letter-spacing: 1px;
    /*font-weight: lighter;*/
}
#descripcion{
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 24px;
    /*font-weight: lighter;*/
}

/* boton amarillo */
.a-boton{
    text-decoration: none;
    padding: 15px;
    border: 1px;
    border-style: solid;
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-boton-amarillo{
    background-color: var(--color-amarillo);
    color: var(--color-azul);
    border-color: #b38f00;
}
.a-boton-amarillo:hover{
    background-color: #b38f00;
}


.a-boton-azul{
    background-color: var(--color-azul);
    color: white;
    border-color: var(--color-azul);
}
.a-boton-azul:hover{
    background-color: #000042;
}




/* ---------------- |ENVIOS| ---------------- */
.contenedor-envios{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: var(--max-width);
    margin: auto;
}
.cajon-envio{
    display: flex;
    flex-direction:column;
    width: 49%;
    height: 540px;
    /*border-style: solid;*/
    border-radius: 10px;
    padding: 24px;
    
}
.cajon-envio > h1{
    font-size: 24px;
    background-color: inherit;
    width: 100%;
    margin-bottom: 16px;
}




.cajon-envio-amarillo{
    background-color: var(--color-amarillo);
}
.cajon-envio-blanco{
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.194);
}






.hacer-seguimiento{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: inherit;
    margin-bottom: 50px;
}
.hacer-seguimiento > .contenedor-buscador{
    width: 70%;
}
.hacer-seguimiento > .a-boton{
    width: 27%;
}


.contenedor-opciones-envios{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: inherit;
}
.opciones-envios{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    border: 1px solid lightgray;
    text-decoration: none;
    text-decoration-color: var(--color-azul);
    border-radius: 8px;
    background-color: white;
    margin-bottom: 15px;
    width: 100%;
}
.opciones-envios:hover{
    text-decoration: underline;
}

.opciones-envios img{
    background-color:inherit;
}
.opciones-envios p{
    margin-left: 10px;
    color: var(--color-azul);
    background-color: inherit;
}



/* cajon envios 2 */
.titulo-cajon-envio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
    background-color: inherit;
}
.titulo-cajon-envio > h3{

    font-size: 24px;
    font-weight: 200;
    margin-bottom: 8px;
}

.ubicacion-envios{
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}
.ubicacion-envios > span{
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 18px;
}

.contenedor-buscador-pequeño{
    width: 35%;
}

/* contenedor detalles */
.contenedor-detalles{
    display: flex;
    flex-direction: column;
}
.contenedor-detalles > span{
    margin-bottom: 8px;
    font-weight:bold;
    font-size: 18px;
}

.contenedor-detalles-especificos{
    display: flex;
    flex-direction: row;
}

.detalles-especificos{
    border: 1px solid lightgray;
    width: 23%;
    height: 146px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    margin: auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.103);
}

.detalles-especificos img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    width: 100%;
}
.detalles-especificos > h3{
    font-size: 16px;
    font-weight: normal;
}
.detalles-especificos > span{
    font-size: 12px;
}


/* boton envios */
.comenzar-envio{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
}
.comenzar-envio .a-boton{
    background-color: lightgray;
    color: gray;
    border-color: gray;
    margin-right: 20px;
}

/* enlace mas informacion */
.a-enlace{
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-azul);
}
.a-enlace:hover{
    text-decoration: underline;
}
.a-enlace > svg{
    margin-left: 16px;
    height: 56px;
}




/* ---------------- |SECTION ENVIOS| ---------------- */

.contenedor-section-servicios{
    width: var(--max-width);
    margin: auto;
}
.contenedor-section-servicios > h2{
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 24px;
}
.contenedor-servicios{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.contenedor-servicios > .cajon-envio{
    width: 32%;
    height: 436px;
}
.contenedor-servicios .cajon-envio > figure{
    margin-bottom: 24px;
    width: 176px;
    height: 156px;

}
.contenedor-servicios .cajon-envio figure > img{
    width: 100%;
    height: 100%;
}


.contenedor-texto-servicios{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

}
.contenedor-texto-servicios > h2{
    font-size: 24px;
    margin-bottom: 8px;
}
.contenedor-texto-servicios > p{
    font-size: 16px;
    margin-bottom: 24px;
}
.a-texto-derecha{
    display: flex;
    justify-content: flex-start;
}





/* ---------------- |SECTION INFORMACIÓN 1| ---------------- */

/* primer cuadro */

.section-informacion{
    background-color: #f3f2f2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.contenedor-section-informacion{
    display: flex;
    flex-direction: row;
    width: var(--max-width);
    margin: 65px 0px;
}

.contenedor-section-informacion .cajon-envio{
    padding: 48px 112px;
    width: 60%;
    height: 280px;
    z-index: 1;
}
.contenedor-section-informacion .cajon-envio > h2{
    font-size: 32px;
    font-weight: 100;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-amarillo);
}
.contenedor-section-informacion .cajon-envio > p{
    font-size: 17.8px;
    font-weight: 100;
    margin: 15px 0px;
}


/* segundo cuadro */
.ilustracion-informacion{
    background-image: url("/img/home-particulares.png");
    background-repeat: no-repeat;
    width: 50%;
    height: 350px;
    border-radius: 8px;
    position: absolute;
    background-size: cover;
    right: 0px;
    top: 105px;
    z-index: 0;
}





/* ---------------- |SECTION INFORMACIÓN 2| ---------------- */

.section-informacion2{
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;  
}

.invertir-lado{
    position: absolute;
    left: 0px;
}

.section-informacion2 .contenedor-section-informacion{
    justify-content: flex-end;
}
.section-informacion2  .ilustracion-informacion{
    background-image: url("/img/Sobres-y-cajas.jpg");
}





/* ---------------- |SECTION TIENDA ONLINE| ---------------- */
.section-tienda-online{
    background-color: var(--color-amarillo);
}
.contenedor-section-tienda-online{
    width: var(--max-width);
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    padding: 165px 0px 80px 70px;
    background-color: inherit;
}

/* texto tienda online*/
.texto-tienda-online{
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 40%;
    background-color: inherit;
}
.texto-tienda-online > h2{
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 30px;
    background-color: inherit;
}
.texto-tienda-online > p{
    font-size: 18px;
    margin-bottom: 16px;
    background-color: inherit;
}



.texto-tienda-online > a{
    background-color: inherit;
}
.texto-tienda-online > a > span{
    background-color: inherit;
}
.texto-tienda-online > a > svg{
    background-color: inherit;
}



/* imagen tienda online */
.imagen-tienda-online{
    width: 40%;
    display: flex;
    background-color: inherit;
}
.imagen-tienda-online > img{
    width: 100%;
    background-color: inherit;
}


